/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

app-root{
}